<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="form">
  <div class="container">
    <form action="#" method="POST" th:action="@{/suppliers/edit}" th:object="${supplier}">
      <input th:field="*{id}" type="hidden"/>
      Supplier Name:<br>
      <input name="name" placeholder="Supplier Name" th:field="*{name}" type="text"><br>
      <input class="btn btn-outline-primary col-4  " type="submit" value="Save">
    </form>
    <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/suppliers}">Cancel</a>
  </div>
</th:block>

<th:block th:fragment="products-by-supplier">
  <ol th:each="supplier: ${currentSuppliers}">
    <li>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th class="category-name" scope="col" th:text="'Supplier: ' + *{supplier.name}"></th>
          <th class="category-name" scope="col">Name</th>
          <th class="category-name" scope="col">Category</th>
          <th class="category-name" scope="col">Price</th>
          <th class="category-name" scope="col">Image</th>
          <th class="category-name" scope="col">Properties</th>
          <th class="category-name" scope="col">Description</th>
        </tr>
        </thead>
        <tr th:each="product: *{supplier.products}">
          <td></td>
          <td class="align-middle" scope="row" th:text="*{product.title}"></td>
          <td class="align-middle" th:text="${#objects.nullSafe(product.category?.name,'')}"></td>
          <td class="align-middle" th:text="*{product.price}">$</td>
          <td class="align-middle">
            <img class="image"
                 th:src="*{product.imageURL}"
            >
          </td>
          <td class="align-middle" th:text="*{product.properties}"></td>
          <td class="align-middle" th:text="*{product.description}"></td>
        </tr>
      </table>
    </li>

  </ol>
</th:block>

</body>
</html>