<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<h1>This is Products list</h1>

<table class="table">
  <tr>
    <th scope="col">Supplier</th>
  </tr>
  <tr th:each="supplier: ${suppliers}">
    <td class="align-middle" scope="row" th:text="${supplier.name}"></td>

    <td class="align-middle"><a class="btn btn-primary mb-3 mt-3"
                                th:href="@{/suppliers/{id}/edit(id=${supplier.id})}">Edit</a>
    <td class="align-middle"><a class="btn btn-danger mb-3 mt-3"
                                th:href="@{/suppliers/delete/{id}(id=${supplier.id})}">Delete</a>
    </td>
  </tr>
</table>

<br>
<div class="container">
  <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/suppliers/add}">
    Add new Supplier
  </a>
  <th:block th:include="fragments :: navigation"/>

</div>

</body>
</html>