<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<h1>Add new product:</h1>

<div class="container">
<form action="#" th:action="@{/products}" th:object="${product}" method="POST">
    Name:<br>
    <input type="text" th:field="*{name}" name="firstname" placeholder="name"><br>
    Price in $:<br>
    <input type="number" min="0.00" max="1000000.00" step="0.01"  th:field="*{price}" placeholder="100.00" th:class="${#fields.hasErrors('name')}? 'form-control  col-5 is-invalid' : 'form-control col-5'"/>
    <mark class="error-sign small" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></mark>
    Image URL:<br>
    <input type="text" name="imageurl" th:field="*{imageURL}" placeholder="image URL"><br>
    Properties:<br>
    <input type="text" name="properties" th:field="*{properties}" placeholder="properties"><br>
    Description:<br>
    <input type="text" name="description" th:field="*{description}" placeholder="description"><br>
    <input type="submit" class="btn btn-outline-primary col-4  " value="ZAPISZ">
</form>
</div>

</body>
</html>