<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
<h1>This is Products list</h1>
<ul th:each="product: ${products}">
    <!--/*@thymesVar id="id"*/-->
    <li th:text="${product.id}"></li>
</ul>

<br>
<div class="container">
    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/products/add-product-form}">Dodaj nowy produkt</a>
</div>

</body>
</html>