<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="fragments :: bootstrap"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>
<h1>This is Categories list</h1>

<nav th:replace="fragments :: navigation"></nav>

<table class="table">
    <tr>
        <th scope="col">Category</th>
    </tr>
    <tr th:each="category: ${categories}">
        <td class="align-middle" scope="row" th:text="${category.name}"></td>

        <td class="align-middle"><a class="btn btn-primary mb-3 mt-3"
                                    th:href="@{/categories/{id}/edit(id=${category.id})}">Edit</a>
        <td class="align-middle"><a class="btn btn-danger mb-3 mt-3"
                                    th:href="@{/categories/delete/{id}(id=${category.id})}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>