<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>


<thead class="thead-dark" th:fragment="products-header">
<tr>
  <th class="category-name" scope="col" th:text="*{name}"></th>
  <th class="category-name" scope="col">Name</th>
  <th class="category-name" scope="col">Category</th>
  <th class="category-name" scope="col">Price</th>
  <th class="category-name" scope="col">Image</th>
  <th class="category-name" scope="col">Properties</th>
  <th class="category-name" scope="col">Description</th>
</tr>
</thead>

<th:block th:fragment="navigation">
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/}">Main page</a>
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/products}">Products</a>
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/categories}">Categories</a>
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/suppliers}">Suppliers</a>
</th:block>

<th:block th:fragment="products-list(qualifiers)">
  <ol th:each="qualifier: ${qualifiers}">
    <li>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th class="category-name" scope="col" th:text="*{qualifier.name}"></th>
          <th class="category-name" scope="col">Name</th>
          <th class="category-name" scope="col">Supplier</th>
          <th class="category-name" scope="col">Price</th>
          <th class="category-name" scope="col">Image</th>
          <th class="category-name" scope="col">Properties</th>
          <th class="category-name" scope="col">Description</th>
        </tr>
        </thead>
        <tr th:each="product: *{qualifier.products}">
          <td></td>
          <td class="align-middle" scope="row" th:text="*{product.title}"></td>
          <td class="align-middle" th:text="${#objects.nullSafe(product?.supplier?.name,'')}"></td>
          <td class="align-middle" th:text="*{product.price}">$</td>
          <td class="align-middle">
            <img class="image"
                 th:src="*{product.imageURL}"
            >
          </td>
          <td class="align-middle" th:text="*{product.properties}"></td>
          <td class="align-middle" th:text="*{product.description}"></td>
        </tr>
      </table>
    </li>
  </ol>
</th:block>

</body>
</html>