<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<th:block th:fragment="bootstrap">
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet">
  <script crossorigin="anonymous" defer
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script crossorigin="anonymous" defer
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script crossorigin="anonymous" defer
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</th:block>


<thead class="thead-dark" th:fragment="products-header">
<tr>
  <th class="category-name" scope="col" th:text="*{name}"></th>
  <th class="category-name" scope="col">Name</th>
  <th class="category-name" scope="col">Category</th>
  <th class="category-name" scope="col">Price</th>
  <th class="category-name" scope="col">Image</th>
  <th class="category-name" scope="col">Properties</th>
  <th class="category-name" scope="col">Description</th>
</tr>
</thead>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
  <a class="navbar-brand" href="#">CC-Shop</a>
  <button aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
          data-target="#navbarNavDropdown" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-link active">
        <a class="nav-link" th:href="@{/}">Home</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link" th:href="@{/products}">Products</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link" th:href="@{/categories}">Categories</a>
      </li>
      <li class="nav-link active">
        <a class="nav-link" th:href="@{/suppliers}">Suppliers</a>
      </li>
      <li class="nav-link dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
           id="navbarDropdownMenuLink" role="button">
          Add...
        </a>
        <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu">
          <a class="dropdown-item" th:href="@{/products/add}">New Product</a>
          <a class="dropdown-item" th:href="@{/categories/add}">New Category</a>
          <a class="dropdown-item" th:href="@{/suppliers/add}">New Supplier</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


<a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/}">Main page</a>
<a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/products}">Products</a>
<a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/categories}">Categories</a>
<a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/suppliers}">Suppliers</a>
<a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/products/add}">New Product</a>
<a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/categories/add}">New Category</a>
<a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/suppliers/add}">New Supplier</a>


<th:block th:fragment="products-list(list, qualifier)">
  <ol th:each="element: ${list}">
    <li>
      <table class="table">
        <thead class="thead-dark">
        <tr>
          <th th:text="*{element.name}"></th>
          <th class="category-name" scope="col">Name</th>

          <th class="category-name" scope="col" th:if="${qualifier == 'suppliers'}"
              th:text="Category">
          </th>
          <th class="category-name" scope="col" th:if="${qualifier == 'categories'}"
              th:text="Supplier">
          </th>
          <th class="category-name" scope="col">Price</th>
          <th class="category-name" scope="col">Image</th>
          <th class="category-name" scope="col">Properties</th>
          <th class="category-name" scope="col">Description</th>
        </tr>
        </thead>
        <tr th:each="product: *{element.products}">
          <td></td>
          <td class="align-middle" scope="row" th:text="*{product.title}"></td>
          <td class="align-middle" th:if="${qualifier == 'suppliers'}"
              th:text="${#objects.nullSafe(product?.category?.name,'')}"></td>
          <td class="align-middle" th:if="${qualifier == 'categories'}"
              th:text="${#objects.nullSafe(product?.supplier?.name,'')}"></td>
          <td class="align-middle" th:text="*{product.price}">$</td>
          <td class="align-middle"><img class="image" th:src="*{product.imageURL}"></td>
          <td class="align-middle" th:text="*{product.properties}"></td>
          <td class="align-middle" th:text="*{product.description}"></td>
        </tr>
      </table>
    </li>
  </ol>
</th:block>

</body>
</html>