<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>


<thead class="thead-dark" th:fragment="products-header">
<tr>
  <th class="category-name" scope="col" th:text="'Supplier: ' + *{supplier.name}"></th>
  <th class="category-name" scope="col">Name</th>
  <th class="category-name" scope="col">Category</th>
  <th class="category-name" scope="col">Price</th>
  <th class="category-name" scope="col">Image</th>
  <th class="category-name" scope="col">Properties</th>
  <th class="category-name" scope="col">Description</th>
</tr>
</thead>

<th:block th:fragment="navigation">
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/}">Main page</a>
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/products}">Products</a>
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/categories}">Categories</a>
  <a class="btn btn-outline-primary mb-3 mt-3" th:href="@{/suppliers}">Suppliers</a>
</th:block>

</body>
</html>