<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>

<div class="sidenav">
  <a href="/?showBy=categories">All Categories</a>
  <a th:each="category: ${allCategories}"
     th:href="@{/categories/{id}/products(id=*{category.id})}"
     th:text="*{category.name}"
  >
  </a>

  <hr>
  <a href="/?showBy=suppliers">All Suppliers</a>
  <a th:each="supplier: ${allSuppliers}"
     th:href="@{/suppliers/{id}/products(id=*{supplier.id})}"
     th:text="*{supplier.name}"
  >
  </a>
</div>

<div class="main">


  <h1>This is index page</h1>

  <th:block th:include="fragments :: products-list(${currentCategories})"/>
  <th:block th:include="fragments :: products-list(${currentSuppliers})"/>


  <div class="container">
    <a class="btn btn-outline-dark mb-3 mt-3" th:href="@{/products/add}">Add new
      product</a>
    <th:block th:include="fragments :: navigation"/>
  </div>
</div>
</body>
</html>