<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:include="fragments :: bootstrap"/>
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
</head>

<body>

<div class="sidenav">
  <a href="/?showBy=categories">All Categories</a>
  <a th:each="category: ${allCategories}"
     th:href="@{/categories/{id}/products(id=*{category.id})}"
     th:text="*{category.name}"
  >
  </a>

  <hr>
  <a href="/?showBy=suppliers">All Suppliers</a>
  <a th:each="supplier: ${allSuppliers}"
     th:href="@{/suppliers/{id}/products(id=*{supplier.id})}"
     th:text="*{supplier.name}"
  >
  </a>
</div>

<div class="main">


  <h1>This is index page</h1>

  <nav th:replace="fragments :: navigation"></nav>

  <th:block th:include="fragments :: products-list(${currentQualifiers}, ${qualifier})"/>

</div>
</body>
</html>